<!DOCTYPE html>
  <head>
    <title>Hello World!</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
  </head>
  <body>
    <div id="app">
        <div class="container">
          <div class="row">
              <div class="col-8"><h1 @click="reset">Hangman</h1></div>
              <div class="col-4"><h2>{{ turns }} Turns Left</h2></div>
          </div>

          <div class="content text-center">
            <div class="gallows m-auto">
              <img id="gallows-bg" :src="gallows" />

              <div class="hanged-man">
                <div class="row">
                    <div class="col-6" v-if="turns > 5"></div>
                    <div class="col-6" v-else><img :src="headLeft"></div>
                    <div class="col-6" v-if="turns > 4"></div>
                    <div class="col-6" v-else><img :src="headRight"></div>
                </div>
                <div class="row">
                    <div class="col-6" v-if="turns > 3"></div>
                    <div class="col-6" v-else><img :src="handLeft"></div>
                    <div class="col-6" v-if="turns > 2"></div>
                    <div class="col-6" v-else><img :src="handRight"></div>
                </div>
                <div class="row">
                    <div class="col-6" v-if="turns > 1"></div>
                    <div class="col-6" v-else><img :src="legLeft"></div>
                    <div class="col-6" v-if="turns > 0"></div>
                    <div class="col-6" v-else><img :src="legRight"></div>
                </div>
              </div>
            </div>
            <div class="row space"><div class="col-12"></div></div>
            <div class="row">
                <!-- <div class="col-4" v-if="assignedPlayer == playerOne">You are Player One.</div>
                <div class="col-4" v-else>You are Player Two.</div> -->
            </div>
            <div class="row">
                <div class="col-4" v-if="playerOnesTurn == true">Player One's Turn</div>
                <div class="col-4" v-else>Player Two's Turn</div>
                <div class="row space"><div class="col-12"></div></div>
                <div class="col-8"></div>
            </div>

            <div class="row magicWord">
                <div class="col-2"><p>{{ letterOne }}</p></div>
                <div class="col-2"><p>{{ letterTwo }}</p></div>
                <div class="col-2"><p>{{ letterThree }}</p></div>
                <div class="col-2"><p>{{ letterFour }}</p></div>
                <div class="col-2"><p>{{ letterFive }}</p></div>
                <div class="col-2"><p>{{ letterSix }}</p></div>
            </div>
            <div class="row space"><div class="col-12"></div></div>
            <div class="row">
                <div class="col-4">
                  <h3 v-if="turns == 0" class="text-danger">GAME OVER!</h3>
                  <h3 v-if="correctGuessCount == 6" class="text-success">YOU WON!</h3>
                </div>
                <div class="col-4"><p>Most recent guess: {{ announcedGuess }}</p></div>
                <div class="col-2"><input type="text" class="letter" maxlength="1" name="letter" v-model="guess"></div>
                <div class="col-2">
                    <button @click="guessLetter()">Guess</button>
                </div>
            </div>
          </div>
          <!--hangman front-end for pages -->
      </div>
    </div>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
      <script src="vue.js"></script>
      <script src="app.js"></script>
  </body>
</html>