.gallows {
  width: 400px;
}

#gallows-bg {
  position: absolute;
  width: 400px;
  left: calc((100% - 400px)/2);
  margin-left: 200px;
  z-index: 1;
}

.hanged-man {
  width: 200px;
  height: 300px;
  margin: auto;
  padding-top: 45px;
  padding-left: 45px;
}

.hanged-man .col-6 {
  padding: 0;
  margin: 0 -5px;
}

.hanged-man img {
  width: 100%;
}

.space {
  height: 50px;
}

.magicWord .col-2 {
  border: solid;
  font-size: 3em;
}

input {
  width: 45px;
  font-size: 1.3em !important;
  padding: 5px;
  text-align: center;
}

button {
  height: 45px;
  width: 100%;
  background: #E4CCB3;
  border: 4px solid transparent;
  color: white;
  text-decoration: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}